<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Mvc</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <!-- 加载spring容器配置 --><!-- 实现ServletContextListener接口 -->
  <!-- <listener>
  	<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener> -->
  
  <!-- 系统启动时，可以同时启动，实现ServletContextListener接口，可以启动一个线程等操作 -->
  <listener>
  	<display-name>startThreadHelloWorld</display-name>
  	<listener-class>com.relive.listener.HelloListener</listener-class>
  </listener>
  
  <!-- <listener>
  	<listener-class>org.springframework.web.util.IntrospectorCleanupListener</listener-class>
  </listener> -->
  
  <!-- <context-param>
  	<param-name>contextConfigLocation</param-name>
  	<param-value>/WEB-INF/conf/springMVC.xml</param-value>
  </context-param> -->
  
  <servlet>
  	<servlet-name>helloServlet</servlet-name>
  	<servlet-class>com.relive.servlet.HelloServlet</servlet-class>
	<load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
  	<servlet-name>helloServlet</servlet-name>
  	<url-pattern>/helloServlet/*</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>springMVC</servlet-name>
  	<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
  	<init-param>
  		<param-name>contextConfigLocation</param-name>
  		<param-value>/WEB-INF/conf/springMVC.xml</param-value>
  	</init-param>
  	<load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
  	<servlet-name>springMVC</servlet-name>
  	<url-pattern>/</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>cxfServlet</servlet-name>
  	<servlet-class>org.apache.cxf.transport.servlet.CXFServlet</servlet-class>
  	<load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
  	<servlet-name>cxfServlet</servlet-name>
  	<url-pattern>/webservice/*</url-pattern>
  </servlet-mapping>
</web-app>